.cell#crest
  img.crest#crest-a(src='/images/diligence.png')
  img.crest#crest-b(src='/images/conservatism.png')
  img.crest#crest-c(src='/images/integrity.png')
  img.crest#crest-d(src='/images/humility.png')
.cell#crest-description
  #crest-description-a
    b Diligence
    p Meticulous review and monitoring of investment opportunities
  #crest-description-b
    b Conservatism
    p Preservation of your capital is our utmost concern
  #crest-description-c
    b Integrity
    p Absolute commitment to client first
  #crest-description-d
    b Humility
    p Humbly accepting our limits with grace and reverence
