.column.full
  .cell#footer
    a(href='/home') Home
    span ||
    a(href='/firm') Firm Profile
    span ||
    a(href='/investment') Investment Profile
    span ||
    a(href='/literature') Literature
    span ||
    a(href='/clients') Clients
    span ||
    a(href='/contact') Contact Us

script(src='/assets/crest-animation.js')
